.vscode
.env
/srgssr-api/target/classes/ch/srgssr/epg/api/ApiUtil.class
/srgssr-api/target/classes/ch/srgssr/epg/api/BusinessUnitApi.class
/srgssr-api/target/classes/ch/srgssr/epg/api/BusinessUnitApiController.class
/srgssr-api/target/classes/ch/srgssr/epg/api/Error.class
/srgssr-api/target/classes/ch/srgssr/epg/api/Program.class
/srgssr-api/target/classes/ch/srgssr/epg/api/ProgramDateTimes.class
/srgssr-api/target/classes/ch/srgssr/epg/api/ProgramImage.class
/srgssr-api/target/classes/ch/srgssr/epg/api/ProgramPeopleInner.class
/srgssr-api/target/classes/org/openapitools/configuration/HomeController.class
/srgssr-api/target/classes/org/openapitools/configuration/SpringDocConfiguration.class
/srgssr-api/target/classes/org/openapitools/OpenApiGeneratorApplication.class
/srgssr-api/target/classes/org/openapitools/RFC3339DateFormat.class
/srgssr-api/target/classes/application.properties
/srgssr-api/target/classes/openapi.yaml
/srgssr-api/target/classes/swagger_srgssr_epg_v3.0.7.yaml
/srgssr-api/target/maven-archiver/pom.properties
/srgssr-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/srgssr-api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/srgssr-api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/srgssr-api/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/srgssr-api/target/surefire-reports/org.openapitools.OpenApiGeneratorApplicationTests.txt
/srgssr-api/target/surefire-reports/TEST-org.openapitools.OpenApiGeneratorApplicationTests.xml
/srgssr-api/target/test-classes/org/openapitools/OpenApiGeneratorApplicationTests.class
/srgssr-api/target/openapi-spring-3.0.7.jar
/srgssr-api/target/openapi-spring-3.0.7.jar.original
