/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
main { padding: 2rem; max-width: 60rem; margin: 0 auto; }
.top_bar { padding: 0 2rem; max-width: 60rem; margin: 0 auto; }
mat-card-content { padding-top: 16px !important; }
.w-full { width: 100%; }
.h-full { height: 100%; }

$glow-color:   #abc7ff;

.player-active {
    border: 2px solid  $glow-color;
    border-radius: 8px;
    box-shadow: 0 0 10px $glow-color, 0 0 15px $glow-color, 0 0 20px $glow-color;
}