<header class="top_bar">
    <mat-toolbar>
        <span>BlaBlaSpotify</span>
    </mat-toolbar>
</header>

<main class="grid-container">
    <mat-grid-list cols="3" gutterSize="1.5rem">
        <mat-grid-tile>
            <app-blabla class="full"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-toggler class="full"/>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-music class="full"/>
        </mat-grid-tile>
    </mat-grid-list>
    <router-outlet/>
</main>
