<mat-card>
    <mat-card-header>
        <div *ngIf="spotifyService.isAuthorized"
            mat-card-avatar
            [style.background-image]="createAvatarUrl(spotifyService.avatarUrl)"
            style="background-size: cover;">
        </div>
        <mat-card-title>
            Music-Player
        </mat-card-title>
        <mat-card-subtitle>Girafi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div *ngIf="!spotifyService.isAuthorized">
                <button mat-flat-button (click)="spotifyService.authorize()">Authorize Spotify</button>
            </div>
            <div class="player__controls" *ngIf="spotifyService.isAuthorized">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Playlists</mat-label>
                    <mat-select [value]="selectedPlaylist()" (selectionChange)="onChangePlaylist($event.value)">
                        @for (playlist of playlists(); track playlist.urn) {
                            <mat-option [value]="playlist.urn">{{ playlist.title }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>
