<mat-card>
    <mat-card-header>
        <mat-card-title>
            Suche
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <form class="station-search-form">
                <mat-form-field class="w-full">
                    <mat-label>Radiosender suchen</mat-label>
                    <input class="" matInput placeholder="Name des Radiosenders" value="">
                </mat-form-field>
                <button mat-button>Suchen</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>