<mat-card>
  <mat-card-header>
    <mat-card-title>
      BlaBla-Player
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <audio id="player"
        [src]="stationUrl()"
        (pause)="onPause()"
        (play)="this.isPlaying.set(true)"
        #player></audio>
      <div class="player__controls">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Sender</mat-label>
          <mat-select [(value)]="selectedStation" (selectionChange)="pausePlayBack()">
            @for(station of stationList(); track station.epgId) {
              <mat-option [value]="station.epgId">{{ station.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="togglePlayback()" [disabled]="playButtonDisabled()">
          @if (isPlaying()) {
            <mat-icon aria-hidden="false" aria-label="Pause" fontIcon="pause"></mat-icon>
          } @else {
            <mat-icon aria-hidden="false" aria-label="Wiedergabe" fontIcon="play_arrow"></mat-icon>
          }
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
